<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--인터페이스 연결 MemberMapper.java -->  
<mapper namespace="com.java.www.mapper.RSearchMapper">
	<select id="rs_selectAllStar" resultType="com.java.www.dto.TSearchDto">
		 select * from(select row_number() over(order by contentId desc) as rnum, a.*
		 from gocamping a where intro like '%별이%'and resveurl is not null)subquery where rnum between 1 and 3
	</select>
	
	<select id="rs_selectAllFam" resultType="com.java.www.dto.TSearchDto">
		 select * from(select row_number() over(order by contentId desc) as rnum, a.*
		 from gocamping a where intro like '%가족%')subquery where rnum between 102 and 104
	</select>
	
	<select id="rs_selectAllSun" resultType="com.java.www.dto.TSearchDto">
		 select * from(select row_number() over(order by contentId desc) as rnum, a.*
		 from gocamping a where intro like '%일몰%' AND RESVEURL IS NOT NULL and lineintro is not null)subquery where rnum in(7,11,12)
	</select>
	
</mapper>